[Unit]
Description=Set up network in vbmc1 namespace
Requires=netns@vbmc1.service
After=netns@vbmc1.service
JoinsNamespaceOf=netns@vbmc1.service
Requires=vbmc-interfaces.service
After=vbmc-interfaces.service

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes
ExecStart=/usr/sbin/ip link set dev vbmc1-ovs1 up
ExecStart=/usr/sbin/ip addr add 192.168.17.1/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.2/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.3/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.4/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.5/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.6/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.7/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.8/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.9/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.10/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.11/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.12/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.13/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.14/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.15/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.16/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.17/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.18/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.19/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip addr add 192.168.17.20/24 dev vbmc1-ovs1
ExecStart=/usr/sbin/ip route add 192.168.117.0/24 via 192.168.17.254

[Install]
WantedBy=multi-user.target
